.tooltip-sib, .arrow:after {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
}

.tooltip-sib {
  pointer-events: none;
  opacity: 0;
  display: inline-block;
  padding: 4px 12px;
  color: white;
  border-radius: 4px;
  margin-top: 20px;
  text-align: center;
  font-stretch: condensed;
  font-size:10px;
  text-decoration: none;
  /*text-transform: uppercase;*/
  box-shadow: 0 0 7px black;
  top:130px;
  z-index:1000;
  position:absolute;
}
/*.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 15%;
  margin-left: -35px;
  /*bottom: -16px;*/
  /*top:-16px;
}*/

/*.arrow:after {
  content: "";
  position: absolute;
  left: 20px;*/
  /*top: -20px;*/
  /*top:8px;
  width: 25px;
  height: 25px;
  -webkit-box-shadow: 6px 5px 9px -9px rgba(0, 0, 0, 0.5),
                      5px 6px 9px -9px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 6px 5px 9px -9px rgba(0, 0, 0, 0.5),
                   5px 6px 9px -9px rgba(0, 0, 0, 0.5);
  box-shadow: 6px 5px 9px -9px rgba(0, 0, 0, 0.5),
              5px 6px 9px -9px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
}*/
.tooltip-sib.active {
  opacity: 1;
  margin-top: 5px;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}
.tooltip-sib.out {
  opacity: 0;
  margin-top: -20px;
}