 /*Green Color rgb(0, 97, 195) & rgb(0, 97, 195) */
 
.btn:focus, .subscribe-btn, .progress .progress-bar, .accordionMod .panel-heading .current, #current:after, .tp-leftarrow.default:hover, .tp-rightarrow.default:hover, .contact-box:hover, .ch-info-wrap, .ch-info .ch-info-back, .content-box-about .ch-info-front, figure.effect-zoe figcaption, h2.form-signin-heading, a.prev,a.next, a.prev,a.next {
    background: #ebebeb /*rgb(0, 97, 195) transparent*/;
}
.accordionMod .panel-heading .current {
    background: rgb(0, 97, 195) !important;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pager li > a:hover, .pager li > a:focus, .navbar-toggle i, .cn-wrapper li a, .cn-wrapper:after, #not-found i, #options li a.selected {
    background-color: rgb(0, 97, 195);
    color: #fff;
}

.spinner {
    border-top-color: rgb(0, 97, 195);
}

.hero {
    border-left-color: rgb(0, 97, 195);
}

#options li a.selected {
	border: 1px solid rgb(0, 97, 195);
}

.ie8 .btn-color, .ie9 .btn-color {
	background: rgb(0, 97, 195) !important;
}

.ie8 .btn-color:hover, .ie9 .btn-color:hover {
	background: rgb(0, 97, 195) !important;
}

.btn-color:hover {
    color: #fff !important;
    background-color: rgb(0, 97, 195) !important;
    border-color: rgb(0, 97, 195) !important;
}

.sidebar-nav li.active:hover {
    background-color: rgb(0, 97, 195) !important;
}

.btn-color {

    color: #fff !important;
	background-color: rgb(0, 97, 195) !important;
    border-color: rgb(0, 97, 195) !important;
}

#current,.menu ul li a:hover,.menu ul>li:hover>a, h2.form-signin-heading {
	border-bottom: 3px solid rgb(0, 97, 195);
}

ul.why li:before {
    background: rgb(0, 97, 195);
}

.menu ul ul {
	border-top: 3px solid rgb(0, 97, 195);
}

#horizontal-tabs ul.tabs li.current {
    /*border-top: 2px solid #8dc24c;*/
    border-top: 2px solid rgb(0, 97, 195);
}

#vertical-tabs ul.tabs li.current {
    border-left: 2px solid rgb(0, 97, 195);
}

.author-content, div.content-box.big, #cn-tabs .service, .comment-des, .contact-box {

}
a, .post-item h4 a:hover, .cn-wrapper li a:hover, .cn-wrapper li a.active, .color, ul.list.icons li i, #current, #current span, .menu ul > li > a:hover, .menu ul > li > a:hover span, #not-found h2, .bx-wrapper .bx-controls-direction a i, .pagination > li > a, .pagination > li > span, .phone-login a:hover, .price, .random-box-icon {
    color: rgb(0, 97, 195);
}

.testimonial p, blockquote {
	border-left: 5px solid rgb(0, 97, 195);
    border-right: 5px solid rgb(0, 97, 195);
}

.pricing_plan h3, .pricing_plan.special h3, .sidebar-nav li.active, .sidebar-nav li:hover, .btn.btn-shopping-cart .fa {
    background-color: rgb(0, 97, 195);
}

.pattern-overlay {
    background-color: /*rgba(0, 97, 195, 0.75)*/ #041e42;
}
.top-sib-container{
    background-color:#3772be;
}

.subscribe-btn {
    background: rgb(0, 97, 195) !important;
}

.random-box-icon i {
    color: rgb(0, 97, 195);
}


/* Navigation (Mobile/Small Tablet)
================================================== */
/*@media only screen and (max-width:980px) {
    .pattern-overlay #top-logo-mobile {
    background-color: #fff;
    background-image: none !important;
}
}*/