body { color:White;margin-bottom :0; margin-top:0; margin-left:0; margin-right:0;
		 font-family: Verdana, Arial, Helvetica, sans-serif; }

.LoginBg { text-align:right;
				BACKGROUND-IMAGE: url(images/Loginbg.jpg); background-position:right;  background-repeat: no-repeat;
				}
.MasterLabel { BACKGROUND-COLOR: #e6e6e6; font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 11px; color: #006600 ; font-weight:bold; 
			}				
.griditem	{	font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 9px; color: #fc7f03 ; font-weight:bold;				
				text-align:left; border:1; 
				border-color:#fc7f03;				
				}
.griditem td 
{
    border-right: #fc7f03 1pt solid;
    border-top: #fc7f03 1pt solid;
    border-left: #fc7f03 1pt solid;
    border-bottom: #fc7f03 1pt solid;
}
				
				
				
.gridheader_new {   font-family: Verdana, Arial, Helvetica, sans-serif; 
				background-image:url(../../images/GRIDHEAD.gif) ;color:#ffffff;
				background-repeat: repeat-x;font-size: 11px;background-color:#C34E4E; 
				border:0; font-weight:bold; }
.griditem_alternative_dark {  font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 10px; color: #fc7f03 ; font-weight:bold;
				background-color:#FFDACC; 
				border:1; 
				border-color:#fc7f03;}				
.griditem_dark	{	font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 10px; color: #fc7f03 ; font-weight:bold;
				background-color:#ffffff; 
				border:1; 
				border-color:#fc7f03;} 	
.gridheader_lblue {   font-family: Verdana, Arial, Helvetica, sans-serif; color: #800000 ;
				background-image:url(../../images/GRIDHEAD.gif) ;
				background-repeat: repeat-x;font-size: 11px;
				border:0; font-weight:bold; 			 
				}
.griditem_alternative {  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px; color: #fc7f03 ; font-weight:bold;
	background-color:#FFDACC; 
	text-align:left; border:1; 
	border-color:#fc7f03;}
	
.griditem_alternative  td 
{
    border-right: #fc7f03 1pt solid;
    border-top: #fc7f03 1pt solid;
    border-left: #fc7f03 1pt solid;
    border-bottom: #fc7f03 1pt solid;
}
	
.gridheader_small { font-family: Verdana, Arial, Helvetica, sans-serif;
				font-size: 8pt; 
				background-image:url(../../images/bgblue.gif) ;
				background-repeat: repeat-x;
				border:0; font-weight:bold;
				color:#fc7f03; 			 
				}
.gridheader_text{ font-family: Verdana, Arial, Helvetica, sans-serif;
				font-size: 10pt; 
				font-weight:bold;
				color:#fc7f03; 			 
				}
.gridheader {   font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 10px;color: #fc7f03; font-weight:normal ;
				background-color:#b0c4de;border-color:#b0c4de; 
				border:1; font-weight:bold; 			 
				}
.gridheader_pop  { font-family: Verdana, Arial, Helvetica, sans-serif;
				font-size: 10pt; 
				background-image:url(images/bgbig.gif) ;
				background-repeat: repeat-x;
				border:0; font-weight:bold;
				color:#ffffff; 			 
				}
 	
.griditem_hilight {	font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 10px; color: #fc7f03; 
				background-color:#f5deb3; 
				text-align:left; border:1; 
				border-color:#fc7f03;}	 
.matters {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #fc7f03}
 
.subHeader_big { font-family: Verdana, Arial, Helvetica, sans-serif;
				font-size: 10pt; 
				background-image:url(../../images/bgblue.gif) ;
				background-repeat: repeat-x;
				border:0; font-weight:bold ;
				color: #000000;		 
				}
				
A:hover {text-align:left;
	COLOR: #800000; FONT-FAMILY: Verdana; 
	FONT-SIZE: 10px; font-weight: bold;
}
A {text-align:left;
	COLOR: #800000; FONT-FAMILY: Verdana; 
	FONT-SIZE: 10px;font-weight: bold;
}

		
.MenuLink A  {
background-color:#fc7f03;
font:bold 8pt Verdana;
color:White;
text-decoration:none;  
}
.MenuLink A:active  {
background-color:#fc7f03; 
font:bold 8pt Verdana;
color:White;
text-decoration:none; 
}
.MenuLink A:link  {
background-color:#fc7f03; 
font:bold 8pt Verdana;
color:White;
text-decoration:none;   
}
.MenuLink A:visited{
background-color:#fc7f03; 
font:bold 8pt Verdana;
color:White;
text-decoration:none;   
}
.MenuLink A:hover {
background-color:#fc7f03; 
font:bold 8pt Verdana;
color:Yellow;
text-decoration:underline; 
}
.inputbox_multi {
	BACKGROUND: F5FED2; 
	BORDER-BOTTOM: #fc7f03 1px solid; 
	BORDER-LEFT: #fc7f03 1px solid; 
	BORDER-RIGHT: #fc7f03 1px solid; 
	BORDER-TOP: #fc7f03 1px solid; 
	COLOR: #555555; CURSOR: text; 
	FONT-FAMILY: verdana; 
	FONT-SIZE: 11px;
	WIDTH: 199px; 
	HEIGHT: 54px; 
	TEXT-DECORATION: none
}
.inputboxnor {
	BACKGROUND: FFFFFF; BORDER-BOTTOM: #fc7f03 1px solid; BORDER-LEFT: #fc7f03 1px solid; BORDER-RIGHT: #fc7f03 1px solid; BORDER-TOP: #fc7f03 1px solid; COLOR: #555555; CURSOR: text; FONT-FAMILY: verdana; FONT-SIZE: 11px; HEIGHT: 14pt; TEXT-DECORATION: none
}
.button_small {
	border-style:solid; border-color:White; border-width:1pt;
	background-color:#FFFFFF;  
	background-image:url('Images/buttonmain.png');
	font-weight: bold; color:#FFFFFF;
	FONT-FAMILY: tahoma,sans-serif;
	FONT-SIZE: 10px; HEIGHT: 18px; TEXT-DECORATION: none;
}
.button { 
	border-style:solid; border-color:White; border-width:1pt;
	background-color:#FFFFFF;  
	background-image:url('Images/buttonmain.png');
	font-weight: bold; color:#FFFFFF;
	FONT-FAMILY: tahoma,sans-serif; 
	FONT-SIZE: 12px; HEIGHT: 24px; TEXT-DECORATION: none; 
} 
 /**/
.button:hover {
   border-style:solid; border-color:#66300f; border-width:1pt;  
   background:#66300f;background-image:url('Images/buttonhover.png');
	font-weight: bold; color:#FFFFFF; FONT-FAMILY: tahoma,sans-serif; 
	FONT-SIZE: 12px; HEIGHT: 24px; TEXT-DECORATION: none;  
} 

.error {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #800000}

	 
				
.subheader_img { font-family: Verdana, Arial, Helvetica, sans-serif; 
				/*background-image:url(images/newblue.gif) ;*/
				background-repeat: repeat-x; 
				font-weight:bold; 
				font-size: 12px;
				text-align:left;
				color: #ffffff;
				height:20; 			 
				}		

.subHeader { font-family: Verdana, Arial, Helvetica, sans-serif;
				font-size: 8pt; 
				background-color :#7b93bf;
				background-repeat: repeat-x;
				border:0; font-weight:bold;
				color: #ffffff;		 
				}								
 
.img_left {  text-align:left; border:0;}
 
.radiobutton {	BACKGROUND: #ffffff; 	 
	COLOR: #fc7f03;  
	FONT-FAMILY: verdana; 
	FONT-SIZE: 11px; 	 
	TEXT-DECORATION: none
}  

.checkbox {
	BACKGROUND: #ffffff; FONT-FAMILY: verdana; FONT-SIZE: 11px; WIDTH: 199px; TEXT-DECORATION: none
}
 
.inputbox {
	BACKGROUND: F5FED2; 
	BORDER-BOTTOM: #fc7f03 1px solid; 
	BORDER-LEFT: #fc7f03 1px solid; 
	BORDER-RIGHT: #fc7f03 1px solid; 
	BORDER-TOP: #fc7f03 1px solid; 
	COLOR: #555555; CURSOR: text; 
	FONT-FAMILY: verdana; 
	FONT-SIZE: 11px;
	WIDTH: 199px; 
	HEIGHT: 14px; 
	TEXT-DECORATION: none
}
.lnkaccount a:link {
    text-decoration: none;
    color: #660099;
    FONT-SIZE: 13px;
    font-weight:normal;
}

.lnkaccount a:visited {
    text-decoration: underline;
    color: #660099;    FONT-SIZE: 13px;
}

.lnkaccount a:active {
    text-decoration: underline;
    color: #660099;
    FONT-SIZE: 13px;
}
.lnkaccount a:hover {
    text-decoration: underline;
    font-weight: bold;
    FONT-SIZE: 13px;}
				

.lnkerror a:link {
    text-decoration: none;
    color: #FF0000;
    FONT-SIZE: 13px;
    font-weight:normal;}

.lnkerror a:visited {
    text-decoration: underline;
    color: #FF0000;    FONT-SIZE: 13px;}

.lnkerror a:active {
    text-decoration: underline;
    color: #FF0000;
    FONT-SIZE: 13px;}
.lnkerror a:hover {
    text-decoration: underline;
    font-weight: bold;
    FONT-SIZE: 13px;}

 
.display_none { display:none;}

/* styles for menus*/
.chromestyle{
width: 99%;
font-weight: bold;
}

.chromestyle:after{ /*Add margin between menu and rest of content in Firefox*/
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}
.img_left{ border:0;vertical-align:middle;text-align:left;}
.chromestyle ul{
border: 0px solid #fc7f03;
width: 100%;
height:21px;
background: url(chromebg.gif) center center repeat-x; /*THEME CHANGE HERE*/
padding: 0px 0;
margin: 0;
text-align: center; /*set value to "left", "center", or "right"*/
}

.chromestyle ul li{
display: inline;
}

.chromestyle ul li a{
color: #494949;
padding: 0px 7px;
margin: 0;
text-decoration: none;
/*border-right: 1px solid #DADADA;*/
}

.chromestyle ul li a:hover{
background: url(chromebg-over.gif) center center repeat-x; /*THEME CHANGE HERE*/
text-decoration: none;
}

.chromestyle ul li a[rel]:after{ /*HTML to indicate drop down link*/
content: "v";
/*content: " " url(downimage.gif); /*uncomment this line to use an image instead*/
}


/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
position:absolute;
top: 0;
border: 1px solid #BBB; /*THEME CHANGE HERE*/
border-bottom-width: 0;
font:normal 12px Verdana;
line-height:10px;
z-index:100;
background-color: white;
text-align:left;
width: 200px;
visibility: hidden;
/*filter: progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4); /*Add Shadow in IE. Remove if desired*/
}


.dropmenudiv a{
width: auto;
display: block;
text-indent: 3px;
border-bottom: 1px solid #BBB; /*THEME CHANGE HERE*/
padding: 2px 0;
text-decoration: none;
text-align:left;
font-weight: bold;
color: black;
}

* html .dropmenudiv a{ /*IE only hack*/
width: 100%;
text-decoration: none;
text-align:left;

}
.dropmenudiv a:link {
    text-decoration: none;
    color:#fc7f03;
    text-align:left;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
background-color: #F0F0F0;
text-decoration: #fc7f03;
text-align:left;
}
.dropmenudiv a:visited {
    text-decoration: none;
    color:#fc7f03;
    text-align:left;
}

.dropmenudiv a:active {
    text-decoration: none;
    color:#fc7f03;
    text-align:left;
}

.mnuMaster a:hover
{
	background-color: #F0F0F0;
	 color:yellow;
}
 	
.subReport A 
{
font:bold 8pt Verdana;
color:Black ;
text-decoration:none;  
}

.subReport A:active 
{
font:bold 8pt Verdana;
color:Black;
text-decoration:none; 
}

.subReport A:link 
{
 font:bold 8pt Verdana;
color:Black;
text-decoration:none;   
}

.subReport A:visited 
{
font:bold 8pt Verdana;
color:Black;
text-decoration:none;   
}
.subReport A:hover 
{
font:bold 8pt Verdana;
color:Black;
text-decoration:none; 
        }
         
 
.HomeHead
{      
font-size: 15pt; color: #fc7f03; font-family: Verdana;
 background-color:#b0c4de; 
} 
  
	 
 .red{background-color:White;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px; 
	font-weight: normal; height:15px;vertical-align:middle ;
	color: Black; border-bottom: red 5px solid;
	background-image:url(../../images/password/red.gif)  ;background-repeat: no-repeat;} 
 .grey{background-color: White;font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; 
	font-weight: normal; height:15px;vertical-align:middle ;
	color: Black; border-bottom: blue 5px solid;
	background-image:url(../../images/password/blue.gif)  ;background-repeat: no-repeat;} 
 .blue{background-color: White;font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; 
	font-weight: normal; height:15px;vertical-align:middle ;
	color: Black; border-bottom: Maroon 5px solid;
	background-image:url(../../images/password/maroon.gif)  ;background-repeat: no-repeat;} 
 .yellow{background-color: White;font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; 
	font-weight: normal; height:15px;vertical-align:middle ;
	color:Black; border-bottom: Lime 5px solid;
	background-image:url(../../images/password/lime.gif)  ;background-repeat: no-repeat;} 
  .green{background-color: White;font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; 
	font-weight: normal; height:15px;vertical-align:middle ;
	color: Black; border-bottom: green 5px solid;
	background-image:url(../../images/password/green.gif)  ;background-repeat: no-repeat;} 
.error_password {  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; font-weight: normal; color: #800000}
.bluebg{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; 
	font-weight: bold ; height:18px;vertical-align:middle ;
	color: white;
	background-image:url(../../images/bg-menu-main.png)  ;background-repeat: repeat-x;} 
 
  table.BlueTable {
	BORDER-RIGHT: blue 1pt solid;
	padding: 4px;  border-collapse:collapse;
	BORDER-BOTTOM: #fc7f03 1pt solid; 
	-moz-border-radius:0;
} 
table.BlueTable td {
	border-width: 1px;padding: 4px; 	
	border-left: #blue 1pt solid; border-top: #blue 1pt solid;
	border-bottom : #blue 1pt solid;
	-moz-border-radius:0;
}
table.BlueTable table {
	border-width: 0px;padding: 0px; 
}
table.BlueTable table td{
	border-width: 0px; padding: 0px; 
}
table.BlueTableView {
	BORDER-RIGHT: #blue 1pt solid;
	BORDER-BOTTOM: #blue 1pt solid;
	BORDER-TOP: #blue 1pt solid;
	BORDER-LEFT: #blue 1pt solid;
	padding: 8px;  border-collapse:collapse;
	
	-moz-border-radius:0;
} 
.subheader_BlueTableView th{ font-family: Verdana, Arial, Helvetica, sans-serif; 
				BORDER-BOTTOM: #fc7f03 1pt solid;
				background-image:url(images/newblue.gif) ;
				background-repeat: repeat-x; 
				font-weight:bold; 
				font-size: 12px;
				text-align:left;
				color: #ffffff;
				}

table.BlueTable_simple {
	BORDER-RIGHT: #fc7f03 1pt solid;
	padding: 4px;  border-collapse:collapse;
	BORDER-BOTTOM: #fc7f03 1pt solid; 
	-moz-border-radius:0;
} 
table.BlueTable_simple td {
	border-width: 1px;padding: 4px; 	
	border-left: #fc7f03 1pt solid; border-top: #fc7f03 1pt solid;
	border-bottom : #fc7f03 1pt solid;
	-moz-border-radius:0;
}
  table.popdetails {
	BORDER-right: #fc7f03 1pt solid;
	BORDER-bottom: #fc7f03 1pt solid; 
	BORDER-top: #fc7f03 1pt solid; 
	BORDER-left: #fc7f03 1pt solid; 
	background-color:#FFFFCC; 
	padding: 4px;  border-collapse:collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif; 				
				font-weight:bold;
				color: #FF6600; 
				font-size: 10px;
	-moz-border-radius:0;
} 
table.popdetails td {
	border-width: 1px;padding: 4px; 	
	border-left: #fc7f03 1pt solid; border-top: #fc7f03 1pt solid;
	border-bottom : #fc7f03 1pt solid;border-right : #fc7f03 1pt solid;
	-moz-border-radius:0;
}

.LoginHeaderImage {
	width: 800px; height: 135px;
	background: url("Images/header.jpg") no-repeat;
	font-size: 1px; 
}

.LoginFooterImage {
	width: 800px; height: 200px;
	background: url("Images/footer.jpg") no-repeat;
	font-size: 1px; 
}

.LoginHeader {
				FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #006600; 
				FONT-FAMILY: Verdana; BACKGROUND-COLOR: #c7e6fc	 
			}
.LoginFooter {
				FONT-SIZE: 10px; FONT-FAMILY: Verdana;  BACKGROUND-COLOR: #ffff99;color:#000000;
				border-right: #e6e6e6 1pt solid; border-top: #e6e6e6 1pt solid; 
				border-left: #e6e6e6 1pt solid; border-bottom: #e6e6e6 1pt solid; 
				background : url("Images/footer_bg.jpg");
				}				
