﻿<%@ Page Title="" Language="VB" MasterPageFile="~/ParentMaster.master" AutoEventWireup="false" CodeFile="coming-soon.aspx.vb" Inherits="coming_soon" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphParent" runat="Server">
    <style type="text/css">
        .coming-soon {
            font-size: 70px;
    text-shadow: 3px 6px 8px rgba(0,0,0,0.2);
    text-transform: uppercase;
    margin-top: 150px;
        }
    </style>
    <div class="content margin-top100 margin-bottom60">
                    <div class="container">
                        <div class="row text-center">
                            <div class="coming-soon">Coming Soon ...</div>
                        </div>
                    </div>
    </div>

</asp:Content>