﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="ErrorPage.aspx.vb" Inherits="ErrorPage" %>  <%--MasterPageFile="~/ParentMaster.master" --%>

<form runat="server">  
     <link rel="stylesheet" href="/css/bootstrap.css"/>
         <link rel="stylesheet" href="/css/style.css"/>

      <%--  <div class="content margin-top30 margin-bottom60">--%>
        <div class="container margin-top60">
            <div class="row">

            
               
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    
                     <asp:LinkButton ID="LinkButton1" runat="server" 
                    Text="Back To Home Page" ForeColor="Blue" onclick="errBtn_Click">
                </asp:LinkButton>

                      </div>
               
                 </div>
             </div>
             <%--  </div>--%>

</form>
