﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="progressReportHome.aspx.vb" Inherits="ProgressReport_Home" title="Progress Report" %>


<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Untitled Page</title>
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
          <base target="_self" />
           
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
        <script type="text/javascript" language="javascript">
         function CloseWindow()
            {
            //if (confirm('Close the window?'))
                window.close();
         }
        
         
          </script>
</head>
<body topmargin="0" bottommargin="0" leftmargin="0" rightmargin="0">


    <form id="form1" runat="server">
     
      
  

        
   
<table style="width:100%;height:100%">

      
        <tr style="width:100%;height:100%">
            <td align="left" valign = "top" >
                &nbsp;<asp:Label ID="lblmsg" runat="server"></asp:Label>&nbsp;
                <asp:HiddenField ID="h_print" runat="server" /><asp:HiddenField ID="hFeePending" runat="server" />
                <CR:CrystalReportSource ID="rs1" runat="server" CacheDuration="1">
                </CR:CrystalReportSource>
                <asp:HiddenField ID="hfReportType" runat="server" />
                <asp:HiddenField ID="hfReportFormat" runat="server" />
                 <asp:Panel ID="plPrev1" runat="server"  BackColor="White" Height="520px" ScrollBars="Both"  Width="830px" Visible="false" >
               <iframe id="DocumentIFrame" width="830px" runat="server" height="520px" > </iframe>  </asp:Panel>
      </td>
        </tr>
    <tr style="width: 100%; height: 100%">
        <td align="left" valign="top">
        </td>
    </tr>
    </table>
 </form>
</body>
</html>

