<%@ Page Language="VB" MasterPageFile="~/ParentMaster.master" AutoEventWireup="false" CodeFile="rptSmartTargetPrint.aspx.vb" Inherits="Curriculum_Reports_Aspx_rptSmartTargetPrint" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphParent" Runat="Server">
   <asp:HiddenField ID="hfTGM_ID" runat="server" />
   <asp:HiddenField ID="hfSWM_ID" runat="server" />
            <asp:HiddenField ID="hfGRD_ID" runat="server" />
              <asp:HiddenField ID="hfSTU_ID" runat="server" />
               <asp:HiddenField ID="hfACD_ID" runat="server" />
  <CR:CrystalReportSource ID="rs" runat="server" CacheDuration="1">
                </CR:CrystalReportSource>
              
</asp:Content>

