﻿<%@ Page Language="VB" AutoEventWireup="true" CodeFile="HifzCertificateBac.aspx.vb" Inherits="Service_HifzCertificate" MasterPageFile="~/ParentMaster.master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphParent" runat="Server">
    </asp:Content>