﻿<%@ Page Language="VB" AutoEventWireup="true" CodeFile="HifzCertificate.aspx.vb" Inherits="Service_HifzCertificate" MasterPageFile="~/ParentMaster.master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphParent" runat="Server">
</asp:Content>