﻿<%@ Page Language="VB" AutoEventWireup="true" CodeFile="HifzFileDownloads.aspx.vb" Inherits="Service_HifzFileDownloads" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>
