﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="studContactDetailsMenu.ascx.vb" Inherits="StudProf_UserControl_studContactDetailsMenu" %>

<div>
     <asp:LinkButton ID="lbtnStep1" runat="server" CssClass="" style="border-left:1px solid #dddddd;" PostBackUrl="~/StudProf/StudentMainDetails.aspx">
                 <%--<div class="cssStepNo" >1</div>--%>
                 <div class="cssStepContainer">           
                           <%--<div class="cssStep">STEP ONE</div>--%>   <div class="cssStep color1">General</div>     
                 </div>
                    
                
        </asp:LinkButton>
       <asp:LinkButton ID="lbtnStep2" runat="server" CssClass="" PostBackUrl="~/StudProf/ParentDetails.aspx">
                 <%--<div class="cssStepNo" >2</div>--%>
                 <div class="cssStepContainer">           
                          <%-- <div class="cssStep">STEP TWO</div>--%>   <div class="cssStep">Parent Details</div>     
                 </div>
                    
                
        </asp:LinkButton>
         <asp:LinkButton ID="lbtnStep3" runat="server" CssClass="" PostBackUrl="~/StudProf/StudHealthDetails.aspx">
                 <%--<div class="cssStepNo" >3</div>--%>
                 <div class="cssStepContainer">           
                           <%--<div class="cssStep">STEP THREE</div>--%>   <div class="cssStep">Health</div>     
                 </div>
                    
                
        </asp:LinkButton>
        <%-- <asp:LinkButton ID="lbtnStep4" runat="server" CssClass="" PostBackUrl="~/StudProf/StudMedication.aspx" >
                 <div class="cssStepNo" >4</div>
                 <div class="cssStepContainer">           
                           <div class="cssStep">STEP FOUR</div>   <div class="cssStep">Medication Consent</div>     
                 </div>
                    
                
        </asp:LinkButton>
        <asp:LinkButton ID="lbtnStep5" runat="server" CssClass="" PostBackUrl="~/StudProf/StudImmunization.aspx">
                 <div class="cssStepNo" >5</div>
                 <div class="cssStepContainer">           
                           <div class="cssStep">STEP FIVE</div>   <div class="cssStepInfo">Immunization</div>     
                 </div>
                    
                
        </asp:LinkButton>--%>
         <asp:LinkButton ID="lbtnStep6" runat="server" CssClass="" PostBackUrl="~/StudProf/StudentGeneralConsent.aspx">
                 <%--<div class="cssStepNo" >5</div>--%>
                 <div class="cssStepContainer">           
                           <%--<div class="cssStep">STEP FIVE</div>--%>   <div class="cssStep">General Consent</div>     
                 </div>
                    
                
        </asp:LinkButton>
    </div>
