﻿<%@ Page Language="VB" MasterPageFile="~/ParentMaster.master" AutoEventWireup="false" CodeFile="StudImmunization.aspx.vb" Inherits="StudProf_StudImmunization" title="Untitled Page" %>
<%@ Register src="~/StudProf/UserControl/ImmunizationParentEntry.ascx" tagname="ImmunizationParentEntry" tagprefix="uc1" %>
<%@ Register src="~/StudProf/UserControl/studContactDetailsMenu.ascx" tagname="contactDetails" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphParent" Runat="Server">
   
                    <div class="my-account">
 <uc1:contactDetails ID="contactDetails1" runat="server" />
  
   <uc1:ImmunizationParentEntry ID="ImmunizationParentEntry1" runat="server" />
   <table width="100%" style="margin-top:35px" border="0" cellspacing="0" class="table table-striped table-bordered table-responsive text-left my-orders-table">
    <tr>
                    <td colspan="6" align="right">
                     <asp:Button ID="btnPrev" runat="server" Text="PREVIOUS" CssClass="btn btn-info" width="120px" OnClick="btnPrev_Click" />&nbsp;
                        <asp:Button ID="btnSaveContinue" runat="server" Text="CONTINUE" CssClass="btn btn-info" OnClick="btnSaveContinue_Click"  width="120px"
                             />
                    </td>
                </tr></table>
            </div>
        
</asp:Content>

