@import "rem";

$primary-color: #3772be;
$base-text-color: #3F4041;
$base-font-size: 16px;
$card-section-padding: 0 20px;

body {
    font-family: 'Montserrat', sans-serif;
    //background: #ebf3f9;
    background: #fff;
}

header {
    background: $primary-color;
    //box-shadow: 0px 3px 5px rgba(0,0,0,0.15);
    h1 {
        color: #fff;
        font-size: rem(26px);
    }
}
.bg-primary {
    background: $primary-color !important;
}
.text-primary {
    color: $primary-color !important;
}
.column-padding {
    padding: rem($card-section-padding);
}
/* .card {
    background: #f9f9f9;
} */
[class*='col-'] {
    padding-right:5px;
    padding-left:5px;
}
.row {
    margin-right: -5px;
    margin-left: -5px;
    &.default-column-space {
        margin-left: -15px;
        margin-right: -15px;
        [class*='col-'] {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
}
a, .btn-link {
    color: $primary-color;
}
a, button, .btn-link {
    text-decoration: none;
    &:focus, &:active, &:hover {
        text-decoration: none;
        outline: none;
    }
}
.bg-light {
    //background: lighten($base-text-color, 65%) !important;
    background: #f9f9f9;
}
.border-white {
    border-color: #fff !important;
}
.text-regular {
    font-weight: 400 !important;
}
.text-medium {
    font-weight: 500 !important;
}
hr {
    opacity: 0.5;
}
.btn-primary {
    background: $primary-color;
    border-color: $primary-color;
}
.relief-form {
    .section-title {
        font-size: rem($base-font-size + 2);
        color: $base-text-color;
        font-weight: 400;
    }
    h3 {
        font-size: rem($base-font-size - 1);
        color: $base-text-color;
        span {
            font-size: rem($base-font-size - 3);
            color: lighten($base-text-color, 30%);
            margin-bottom: rem(5px);
            font-weight: 400;
        }
    }
    .accordion {
        &.with-border {
            .card {
                border: solid rem(1px) #ccc !important;
            }
        }
        .card {
            .card-header {
                background: transparent;
                border: none;
                button {
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
    .card-header {
        .fa-angle-down {
            transition: .3s transform ease-in-out;
            transform: rotate(180deg);
            margin-top: rem(10px);
        }
        .collapsed {
            color: $base-text-color;
            .fa-angle-down {
                transform: rotate(0deg);
            }
        }
    }
    .form-group {
        margin-bottom: rem(10px);
        label {
            font-size: rem($base-font-size - 3);
            color: lighten($base-text-color, 30%);
            margin-bottom: rem(5px);
        }
        .form-control {
            &:focus {
                box-shadow: none;
            }
        }
    }
    .upload-documents {
        a {
            display: inline-block;
            padding-left: rem(36px);
            text-transform: uppercase;
            font-size: rem($base-font-size - 2);
            font-weight: 500;
            color: $base-text-color;
            transition: all linear 0.2s;
            -webkit-transition: all linear 0.2s;
            -moz-transition: all linear 0.2s;
            &.upload-btn {
                background: url("../images/upload.png") no-repeat left center;
                background-size: rem(23px);
            }
            .fa-check-square {
                font-size: rem($base-font-size + 6);
            }
            .fa-redo {
                font-size: rem($base-font-size + 4);
            }
            &:hover {
                color: $primary-color;
            }
        }
    }
    .custom-control-label {
        &:hover {
            cursor: pointer;
        }
        &:focus, &:active {
            outline: none;
            box-shadow: none;
        }
    }

    .disclaimer {
        ul {
            li {
                font-weight: 400;
                font-size: rem(14px);
            }
        }
    }
}

.file-upload{display:block;text-align:center;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}

#thankYou {
    h2 {
        font-size: rem(30px);
    }
}