body { font-family: 'Montserrat', sans-serif; background: #fff; }

header { background: #3772be; }

header h1 { color: #fff; font-size: 1.625rem; }

.bg-primary { background: #3772be !important; }

.text-primary { color: #3772be !important; }

.column-padding { padding: 0 1.25rem; }

/* .card {
    background: #f9f9f9;
} */
[class*='col-'] { padding-right: 5px; padding-left: 5px; }

.row { margin-right: -5px; margin-left: -5px; }

.row.default-column-space { margin-left: -15px; margin-right: -15px; }

.row.default-column-space [class*='col-'] { padding-right: 15px; padding-left: 15px; }

a, .btn-link { color: #3772be; }

a, button, .btn-link { text-decoration: none; }

a:focus, a:active, a:hover, button:focus, button:active, button:hover, .btn-link:focus, .btn-link:active, .btn-link:hover { text-decoration: none; outline: none; }

.bg-light { background: #f9f9f9; }

.border-white { border-color: #fff !important; }

.text-regular { font-weight: 400 !important; }

.text-medium { font-weight: 500 !important; }

hr { opacity: 0.5; }

.btn-primary { background: #3772be; border-color: #3772be; }

.relief-form .section-title { font-size: 1.125rem; color: #3F4041; font-weight: 400; }

.relief-form h3 { font-size: 0.9375rem; color: #3F4041; }

.relief-form h3 span { font-size: 0.8125rem; color: #8b8d8e; margin-bottom: 0.3125rem; font-weight: 400; }

.relief-form .accordion.with-border .card { border: solid 0.0625rem #ccc !important; }

.relief-form .accordion .card .card-header { background: transparent; border: none; }

.relief-form .accordion .card .card-header button:hover { color: #3772be; }

.relief-form .card-header .fa-angle-down { -webkit-transition: .3s transform ease-in-out; transition: .3s transform ease-in-out; -webkit-transform: rotate(180deg); transform: rotate(180deg); margin-top: 0.625rem; }

.relief-form .card-header .collapsed { color: #3F4041; }

.relief-form .card-header .collapsed .fa-angle-down { -webkit-transform: rotate(0deg); transform: rotate(0deg); }

.relief-form .form-group { margin-bottom: 0.625rem; }

.relief-form .form-group label { font-size: 0.8125rem; color: #8b8d8e; margin-bottom: 0.3125rem; }

.relief-form .form-group .form-control:focus { -webkit-box-shadow: none; box-shadow: none; }

.relief-form .upload-documents a { display: inline-block; padding-left: 2.25rem; text-transform: uppercase; font-size: 0.875rem; font-weight: 500; color: #3F4041; transition: all linear 0.2s; -webkit-transition: all linear 0.2s; -moz-transition: all linear 0.2s; }

.relief-form .upload-documents a.upload-btn { background: url("../images/upload.png") no-repeat left center; background-size: 1.4375rem; }

.relief-form .upload-documents a .fa-check-square { font-size: 1.375rem; }

.relief-form .upload-documents a .fa-redo { font-size: 1.25rem; }

.relief-form .upload-documents a:hover { color: #3772be; }

.relief-form .custom-control-label:hover { cursor: pointer; }

.relief-form .custom-control-label:focus, .relief-form .custom-control-label:active { outline: none; -webkit-box-shadow: none; box-shadow: none; }

.relief-form .disclaimer ul li { font-weight: 400; font-size: 0.875rem; }

.file-upload { display: block; text-align: center; }

.file-upload .file-select { display: block; border: 2px solid #dce4ec; color: #34495e; cursor: pointer; height: 40px; line-height: 40px; text-align: left; background: #FFFFFF; overflow: hidden; position: relative; }

.file-upload .file-select .file-select-button { background: #dce4ec; padding: 0 10px; display: inline-block; height: 40px; line-height: 40px; }

.file-upload .file-select .file-select-name { line-height: 40px; display: inline-block; padding: 0 10px; }

.file-upload .file-select:hover { border-color: #34495e; transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -webkit-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; }

.file-upload .file-select:hover .file-select-button { background: #34495e; color: #FFFFFF; transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -webkit-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; }

.file-upload.active .file-select { border-color: #3fa46a; transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -webkit-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; }

.file-upload.active .file-select .file-select-button { background: #3fa46a; color: #FFFFFF; transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -webkit-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; }

.file-upload .file-select input[type=file] { z-index: 100; cursor: pointer; position: absolute; height: 100%; width: 100%; top: 0; left: 0; opacity: 0; filter: alpha(opacity=0); }

.file-upload .file-select.file-select-disabled { opacity: 0.65; }

.file-upload .file-select.file-select-disabled:hover { cursor: default; display: block; border: 2px solid #dce4ec; color: #34495e; cursor: pointer; height: 40px; line-height: 40px; margin-top: 5px; text-align: left; background: #FFFFFF; overflow: hidden; position: relative; }

.file-upload .file-select.file-select-disabled:hover .file-select-button { background: #dce4ec; color: #666666; padding: 0 10px; display: inline-block; height: 40px; line-height: 40px; }

.file-upload .file-select.file-select-disabled:hover .file-select-name { line-height: 40px; display: inline-block; padding: 0 10px; }

#thankYou h2 { font-size: 1.875rem; }
/*# sourceMappingURL=style.css.map */