﻿<%@ Page Title="" Language="VB" MasterPageFile="~/ParentMaster.master" AutoEventWireup="false" CodeFile="Covid19Gems.aspx.vb" Inherits="others_Covid19Gems" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphParent" Runat="Server">

     <div class="content margin-top30 margin-bottom60">
        <div class="container">
            <div class="row">

                <!-- Posts Block -->
                <div class="posts-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   
                   <div id="divCovid" runat="server" >
                     <h3 class="text-center" style="font-family:'open sans',helvetica,arial,sans-serif">GEMS Covid-19 Relief Package</h3>
                       <%-- <p style="font-size: 125%;">You can apply from tomorrow morning 9.00 AM <strong>UAE time</strong> Wednesday 8th April, if you have lost your job, been put on unpaid leave, suffered a salary cut or are self-employed and receive immediate tuition fee relief.</p>--%>
                   
                        <p style="font-size: 125%;">The application for COVID-19 relief is submitted and it is under processing.</p>
                        </div>
                </div>
                <!-- /Posts Block -->
            </div>
        </div>
    </div>
</asp:Content>

