body { color:White;margin-bottom :0; margin-top:0; margin-left:0; margin-right:0;
		 font-family: Verdana, Arial, Helvetica, sans-serif;
		  }
.LoginBg { text-align:right;
				BACKGROUND-IMAGE: url(images/Loginbg.jpg); background-position:right;  background-repeat: no-repeat;
				}
.MasterLabel { BACKGROUND-COLOR: #e6e6e6; font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 11px; color: #006600 ; font-weight:bold; 
			}				
.griditem	{	font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 9px; color: #716F6F ; font-weight:bold;				
				text-align:left; border:1; 
				border-color:#716F6F;				
				}
.griditem td 
{
    border-right: #716F6F 1pt solid;
    border-top: #716F6F 1pt solid;
    border-left: #716F6F 1pt solid;
    border-bottom: #716F6F 1pt solid;
}				
.gridheader_new {   font-family: Verdana, Arial, Helvetica, sans-serif; 
				background-image:url(images/GRIDHEAD.gif) ;color:#ffffff;
				background-repeat: repeat-x;font-size: 11px;background-color:#716F6F; 
				border:0; font-weight:bold; }
.griditem_alternative_dark {  font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 10px; color: #716F6F ; font-weight:bold;
				background-color:#E1E1FF; 
				border:1; 
				border-color:#716F6F;}				
.griditem_dark	{	font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 10px; color: #716F6F ; font-weight:bold;
				background-color:#ffffff; 
				border:1; 
				border-color:#716F6F;} 	
.gridheader_lblue {   font-family: Verdana, Arial, Helvetica, sans-serif; color: #800000 ;
				background-image:url(images/GRIDHEAD.gif) ;
				background-repeat: repeat-x;font-size: 11px;
				border:0; font-weight:bold; 			 
				}
.griditem_alternative {  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px; color: #716F6F ; font-weight:bold;
	background-color:#E1E1FF; 
	text-align:left; border:1; 
	border-color:#716F6F;}
	
.griditem_alternative  td 
{
    border-right: #716F6F 1pt solid;
    border-top: #716F6F 1pt solid;
    border-left: #716F6F 1pt solid;
    border-bottom: #716F6F 1pt solid;
}
	
.gridheader_small { font-family: Verdana, Arial, Helvetica, sans-serif;
				font-size: 8pt; 
				background-image:url(images/bgblue.gif) ;
				background-repeat: repeat-x;
				border:0; font-weight:bold;
				color:#716F6F; 			 
				}
.gridheader_text{ font-family: Verdana, Arial, Helvetica, sans-serif;
				font-size: 10pt; 
				font-weight:bold;
				color:#716F6F; 			 
				}
.gridheader {   font-family: Verdana, Arial, Helvetica, sans-serif; background-image:url(images/bgbig.gif) ;
				font-size: 10px;color: #ffffff; font-weight:normal ;
				background-color:#000000;border-color:#ffffff; 
				border:1; font-weight:bold; 			 
				}
.PaymentBG {   background-image:url(Images/Loginbg.jpg) ; 
			}
.gridheader_pop  { font-family: Verdana, Arial, Helvetica, sans-serif;
				font-size: 10pt; 
				background-image:url(images/bgbig.gif) ;
				background-repeat: repeat-x;
				border:0; font-weight:bold;
				color:#ffffff; 			 
				}
 
 	.PagerStyle 
{	font-size: 12px;
	 font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color:Orange  ;
    background-position:center;
    background-repeat:repeat-x;
    background-color:#716F6F;
} 
.griditem_hilight	{	font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 10px; color: #716F6F; 
				background-color:#f5deb3; 
				text-align:left; border:1; 
				border-color:#716F6F;}	 
.matters {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #000000}
 
.mattersBig {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000}
/*				
A:hover {text-align:left;
	COLOR: #800000; FONT-FAMILY: Verdana; 
	FONT-SIZE: 10px; font-weight: bold;
}
A {text-align:left;
	COLOR: #800000; FONT-FAMILY: Verdana; 
	FONT-SIZE: 10px;font-weight: bold;
} 	
.MenuLink A  {
background-color:#716F6F;
font:bold 8pt Verdana;
color:White;
text-decoration:none;  
}
.MenuLink A:active  {
background-color:#716F6F; 
font:bold 8pt Verdana;
color:White;
text-decoration:none; 
}
.MenuLink A:link  {
background-color:#716F6F; 
font:bold 8pt Verdana;
color:White;
text-decoration:none;   
}
.MenuLink A:visited{
background-color:#716F6F; 
font:bold 8pt Verdana;
color:White;
text-decoration:none;   
}
.MenuLink A:hover {
background-color:#716F6F; 
font:bold 8pt Verdana;
color:Yellow;
text-decoration:underline; 
}*/
.inputbox_multi {
	BACKGROUND: F5FED2; 
	BORDER-BOTTOM: #716F6F 1px solid; 
	BORDER-LEFT: #716F6F 1px solid; 
	BORDER-RIGHT: #716F6F 1px solid; 
	BORDER-TOP: #716F6F 1px solid; 
	COLOR: #555555; CURSOR: text; 
	FONT-FAMILY: verdana; 
	FONT-SIZE: 11px;
	WIDTH: 199px; 
	HEIGHT: 54px; 
	TEXT-DECORATION: none
}

.button_small {
	border-style:solid; border-color:#800000; border-width:1px;
	background-color:#cccccc;
	font-weight: normal; color:#000000;
	FONT-FAMILY: tahoma,sans-serif;
	FONT-SIZE: 10pt; HEIGHT: 20px; TEXT-DECORATION: none;
}
.button { 
	border-style:solid; border-color:#D44409; border-width:1pt;
	background-color:#000000;background-image:url('images/bgbig.gif');
	font-weight: bold; color:#ffffff;
	FONT-FAMILY: tahoma,sans-serif; 
	FONT-SIZE: 10pt; HEIGHT: 24px; TEXT-DECORATION: none; 
}
.button:hover {
	border-style:solid; border-color:#66300f; border-width:1pt;  
	background:#000000;background-image:url('images/bgbig.gif');
	font-weight: bold; color:#FFFFFF; FONT-FAMILY: tahoma,sans-serif; 
	FONT-SIZE: 10pt; HEIGHT: 24px; TEXT-DECORATION: none;  
	}
.error 
{	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; font-weight: bold; color: #800000
}				
.subheader_img { font-family: Verdana, Arial, Helvetica, sans-serif; 
				background-image:url(images/newblue.gif) ;
				background-repeat: repeat-x; 
				font-weight:bold; 
				font-size: 12px;
				text-align:left;
				color: #ffffff;
				height:20; 			 
				}	 

.subHeader { font-family: Verdana, Arial, Helvetica, sans-serif;
				font-size: 8pt; 
				background-image:url(images/bgblue.gif) ;
				background-repeat: repeat-x;
				border:0; font-weight:bold;
				color: #ffffff;		 
				}								
 
.img_left {  text-align:left; border:0;}
 
.radiobutton {	BACKGROUND: #ffffff; 	 
	COLOR: #716F6F;  
	FONT-FAMILY: verdana; 
	FONT-SIZE: 11px; 	 
	TEXT-DECORATION: none
}  

.checkbox {
	BACKGROUND: #ffffff; FONT-FAMILY: verdana; FONT-SIZE: 11px; WIDTH: 199px; TEXT-DECORATION: none
}
 
.display_none { display:none;}
  
 
  
	 
 .red{background-color:White;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px; 
	font-weight: normal; height:15px;vertical-align:middle ;
	color: Black; border-bottom: red 5px solid;
	background-image:url(images/password/red.gif)  ;background-repeat: no-repeat;} 
 .grey{background-color: White;font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; 
	font-weight: normal; height:15px;vertical-align:middle ;
	color: Black; border-bottom: blue 5px solid;
	background-image:url(images/password/blue.gif)  ;background-repeat: no-repeat;} 
 .blue{background-color: White;font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; 
	font-weight: normal; height:15px;vertical-align:middle ;
	color: Black; border-bottom: Maroon 5px solid;
	background-image:url(images/password/maroon.gif)  ;background-repeat: no-repeat;} 
 .yellow{background-color: White;font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; 
	font-weight: normal; height:15px;vertical-align:middle ;
	color:Black; border-bottom: Lime 5px solid;
	background-image:url(images/password/lime.gif)  ;background-repeat: no-repeat;} 
  .green{background-color: White;font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; 
	font-weight: normal; height:15px;vertical-align:middle ;
	color: Black; border-bottom: green 5px solid;
	background-image:url(images/password/green.gif)  ;background-repeat: no-repeat;} 
.error_password {  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; font-weight: normal; color: #800000}
.bluebg{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; 
	font-weight: bold ; height:18px;vertical-align:middle ;
	color: white;
	background-image:url(images/bg-menu-main.png)  ;background-repeat: repeat-x;} 
 
  table.BlueTable {
	BORDER-RIGHT: #716F6F 1pt solid;
	padding: 4px;  border-collapse:collapse;
	BORDER-BOTTOM: #716F6F 1pt solid; 
	-moz-border-radius:0;
} 
table.BlueTable td {
	border-width: 1px;padding: 4px; 	
	border-left: #716F6F 1pt solid; border-top: #716F6F 1pt solid;
	border-bottom : #716F6F 1pt solid;
	-moz-border-radius:0;
}
table.BlueTable table {
	border-width: 0px;padding: 0px; 
}
table.BlueTable table td{
	border-width: 0px; padding: 0px; 
}
table.BlueTableView {
	BORDER-RIGHT: #716F6F 1pt solid;
	BORDER-BOTTOM: #716F6F 1pt solid;
	BORDER-TOP: #716F6F 1pt solid;
	BORDER-LEFT: #716F6F 1pt solid;
	padding: 8px;  border-collapse:collapse;
	
	-moz-border-radius:0;
} 
.subheader_BlueTableView th{ font-family: Verdana, Arial, Helvetica, sans-serif; 
				BORDER-BOTTOM: #716F6F 1pt solid;
				background-image:url(images/newblue.gif) ;
				background-repeat: repeat-x; 
				font-weight:bold; 
				font-size: 12px;
				text-align:left;
				color: #ffffff;
				}

table.BlueTable_simple {
	BORDER-RIGHT: #716F6F 1pt solid;
	padding: 4px;  border-collapse:collapse;
	BORDER-BOTTOM: #716F6F 1pt solid; 
	-moz-border-radius:0;
} 
table.BlueTable_simple td {
	border-width: 1px;padding: 4px; 	
	border-left: #716F6F 1pt solid; border-top: #716F6F 1pt solid;
	border-bottom : #716F6F 1pt solid;
	-moz-border-radius:0;
}


 table.NormalTable {
	BORDER-RIGHT: #716F6F 1pt solid;
	padding: 4px;  border-collapse:collapse;
	BORDER-BOTTOM: #716F6F 1pt solid; 
	-moz-border-radius:0;
} 
table.NormalTable td {
	border-width: 1px;padding: 4px; 	
	border-left: #716F6F 1pt solid; border-top: #716F6F 1pt solid;
	border-bottom : #716F6F 1pt solid;
	-moz-border-radius:0;
}
table.NormalTable table {
	border-width: 0px;padding: 0px; 
}
table.NormalTable table td{
	border-width: 0px; padding: 0px; 
}
table.NormalTableView {
	BORDER-RIGHT: #716F6F 1pt solid;
	BORDER-BOTTOM: #716F6F 1pt solid;
	BORDER-TOP: #716F6F 1pt solid;
	BORDER-LEFT: #716F6F 1pt solid;
	padding: 8px;  border-collapse:collapse;
	
	-moz-border-radius:0;
} 
.subheader_NormalTableView th{ font-family: Verdana, Arial, Helvetica, sans-serif; 
				BORDER-BOTTOM: #716F6F 1pt solid;
				background-image:url(images/newblue.gif) ;
				background-repeat: repeat-x; 
				font-weight:bold; 
				font-size: 12px;
				text-align:left;
				color: #ffffff;
				}

table.NormalTable_simple {
	BORDER-RIGHT: #716F6F 1pt solid;
	padding: 4px;  border-collapse:collapse;
	BORDER-BOTTOM: #716F6F 1pt solid; 
	-moz-border-radius:0;
} 
table.NormalTable_simple td {
	border-width: 1px;padding: 4px; 	
	border-left: #716F6F 1pt solid; border-top: #716F6F 1pt solid;
	border-bottom : #716F6F 1pt solid;
	-moz-border-radius:0;
}

table.NormalTable_simple1 {
	BORDER-RIGHT: #716F6F 1pt solid;
	padding: 4px;  border-collapse:collapse;
	BORDER-BOTTOM: #716F6F 1pt solid; 
	-moz-border-radius:0;
} 
table.NormalTable_simple1 td {
	border-width: 1px;padding: 4px; 	
	border-left: #716F6F 1pt solid; border-top: #716F6F 1pt solid;
	border-bottom : #716F6F 1pt solid;
	-moz-border-radius:0;
}

  table.popdetails {
	BORDER-right: #716F6F 1pt solid;
	BORDER-bottom: #716F6F 1pt solid; 
	BORDER-top: #716F6F 1pt solid; 
	BORDER-left: #716F6F 1pt solid; 
	background-color:#FFFFCC; 
	padding: 4px;  border-collapse:collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif; 				
				font-weight:bold;
				color: #FF6600; 
				font-size: 10px;
	-moz-border-radius:0;
} 
table.popdetails td {
	border-width: 1px;padding: 4px; 	
	border-left: #716F6F 1pt solid; border-top: #716F6F 1pt solid;
	border-bottom : #716F6F 1pt solid;border-right : #716F6F 1pt solid;
	-moz-border-radius:0;
} 
.LoginHeader 
{	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #1b80b6; 
	FONT-FAMILY: Verdana; BACKGROUND-COLOR: #e6e6e6	 
}
.LoginHeaderbg { 
	background: url("Images/headerbg.jpg") repeat-x;
	font-size: 1px; border-bottom: #e6e6e6 5px solid
}
.TextLogin  {
	BORDER-RIGHT: #c3bfb5 1px solid; BORDER-TOP: #c3bfb5 1px solid;
	BORDER-LEFT: #c3bfb5 1px solid; BORDER-BOTTOM: #c3bfb5 1px solid
	PADDING-RIGHT: 2px; PADDING-LEFT: 4px; PADDING-TOP: 4px; PADDING-BOTTOM: 1px;  
	FONT-SIZE: 8pt; BACKGROUND: #fff; MARGIN-RIGHT: 1px;
}
.LoginFooter {
				FONT-SIZE: 7pt; FONT-FAMILY: Verdana;  BACKGROUND-COLOR: #ffff99; color:#000000;
				 border-top: #D44409 1pt solid; background : url("Images/footer_bg.jpg");
				 BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
				}				
.LoginSignup {
	FONT-SIZE: 16px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; BORDER-BOTTOM: #e6e3db 1px solid;
	 font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; 
	font-weight: bold; color:#716F6F; text-align:left; 
}
.TableSignup
{
	BORDER-RIGHT: #cccccc 1pt solid; BORDER-TOP: #cccccc 1pt solid; MARGIN-LEFT: 3px; BORDER-LEFT: #cccccc 1pt solid; BORDER-BOTTOM: #cccccc 1pt solid
}


body         {  font-family: verdana; color: #800000}
li           {  font-family: verdana; color: #800000}
ol           {  font-family: verdana; color: #800000}
/*table        {  font-family: verdana; color: #800000}
td           {  font-family: verdana; color: #800000}
*/

#MainTable 
{
margin:10px 0px 0px 20px;	
}

.OuterTable
{
	BORDER-RIGHT: gray 1pt solid; BORDER-TOP: gray 1pt solid; BORDER-LEFT: gray 1pt solid; BORDER-BOTTOM: gray 1pt solid
}
/*
.labelStudentName {  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; font-weight: bold; color: #1b80b6}

 
.labelImageName A 
{  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8px; font-weight: bold; color: #D44409;
	text-decoration:none;}
.labelImageName A:active 
{  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8px; font-weight: bold; color: #D44409;
	text-decoration:none;}
.labelImageName A:link  
{  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8px; font-weight: bold; color: #D44409;
	text-decoration:none;}
.labelImageName A:visited
{  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8px; font-weight: bold; color: #D44409;
	text-decoration:none;}
.labelImageName A:hover 
{  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8px; font-weight: bold; color: #D44409;
	text-decoration:none;}
	
.LabelNodata
{  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px; font-weight: bold; color:#FF0000; font-style:italic;}*/
.BgSibling
{
	border-right: #D44409 25px solid; COLOR: #D44409;
	border-bottom: #D44409 1pt solid;font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; 
	font-weight: bold; 
	 padding-top: 2px;padding-bottom: 2px; padding-left:2px; padding-right : 2px;
}
.BgStudent
{
	border-left: #D44409 25px solid; COLOR: #D44409;
	border-bottom: #D44409 1pt solid;font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; 
	font-weight: bold; 
	 padding-top: 2px;padding-bottom: 2px; padding-left:12px; padding-right : 12px;
}

.labelSchoolName
{  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 7px; font-weight: bold; color: #D44409; }
	
.BgPanelLeft
{	background-color:#E9E9E9;
	border-right: #777777 1pt solid; border-top: #777777 1pt solid; 
	border-left: #cccccc 0pt solid; border-bottom: #cccccc 1pt solid;
	 padding-top: 2px;padding-bottom: 2px; padding-left:2px; padding-right : 2px;
}
.BgPanelRight
{	background-color:#E9E9E9;
	border-right: #777777 0pt solid; border-top: #777777 1pt solid; 
	border-left: #777777 1pt solid; border-bottom: #cccccc 1pt solid;
	 padding-top: 2px;padding-bottom: 2px; padding-left:2px; padding-right : 2px;
}

.BgPanelsMiddle
{ background-color:#ffffff;
	border-top: #777777 1pt solid; border-bottom: #cccccc 1pt solid;
	 padding-top: 2px;padding-bottom: 2px; padding-left:2px; padding-right : 2px;
}
.tableDatalist
{	background-color:#E9E9E9;
	border-right: 0pt ; border-top: 0pt; 
	border-left: 0pt; border-bottom: 0pt;
	 padding-top: 2px;padding-bottom: 2px; padding-left:2px; padding-right : 2px;
}

.tableBusDetails
{
	BORDER-RIGHT: #cccccc 1pt solid; MARGIN-TOP: 5px; 
	BORDER-LEFT: #cccccc 1pt solid; WIDTH: 95%; PADDING-TOP: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; font-weight: bold; color: #000000
}	
.tableMain
{
	border-right: gray 1pt solid; border-top: gray 1pt solid; 
	border-left: gray 1pt solid; border-bottom: gray 1pt solid
}
.BgHeading
{
	border-left: #D44409 25px solid; COLOR: #D44409;
	border-bottom: #D44409 1pt solid;font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; 
	font-weight: bold; 
	 padding-top: 2px;padding-bottom: 2px; padding-left:2px; padding-right : 2px;
}